.root a, .root strong, .root h1, .root h2, .root h3 {
  color: var(--color-brand-primary);
}

.root strong {
  font-weight: bold;
}

.root a:hover {
  text-decoration: underline;
}

.root ul {
  margin-left: 2.5rem;
}

.root li {
  list-style-type: disc;
}
