body,
body.default-mode {
  --color-brand-primary: #900000;
  --color-brand-primary-light: #c26f6f;
  --color-brand-secondary: #eee;
  --color-text-primary: black;
  --color-text-secondary: gray;
  --color-bg-primary: white;
  --color-border-primary: gray;
  --color-border-secondary: darkgray;
  --color-border-light: #d8d8d8;
}
body.dark-mode {
  --color-brand-primary: #900000;
  --color-brand-primary-light: #c26f6f;
  --color-brand-secondary: #eee;
  --color-text-primary: white;
  --color-text-secondary: gray;
  --color-bg-primary: black;
  --color-border-primary: gray;
  --color-border-secondary: darkgray;
  --color-border-light: #d8d8d8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, Arial, sans-serif;
}
