.root a {
  color: var(--color-text-brand-primary);
}
.root a:hover {
  text-decoration: underline;
}
.root ul li {
  list-style: initial;
}
.root code {
  background-color: var(--color-raw-brand-secondary);
}
